*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.1s;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 100;
}

#container{
    height: 500px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

#container img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

#container h1{
    color: #fff;
    font-size: 35px;
    font-family: "Poppins";
}

#container i{
    color: white;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2);
    transition: transform all ease 0.5s;
    opacity: 0;
    z-index: 100;
}